{% extends 'base.html' %}
{% load static %}
{% block breadcrumb %}
  <li class="breadcrumb-item active">Profile</li>
{% endblock %}
{% block content %}
<!-- Left Column -->
<div class="row">
<div class="col-md-4 bg-white">
  {% for profile in profiles %}
  <div class="text-secondary">
    <div class="card" style="width: 18rem;">
      {% if profile.avatar %}
      <img src="{{ profile.avatar.url }}" class="card-img-top" alt="{{ profile.user.username }}">
      {% else %}
      <img src="{% static 'img/icon.png' %}" class="card-img-top" alt="{{ profile.user.username }}">
      {% endif %}
      <div class="row card-img-overlay align-items-end text-dark">
        <h3>{{ profile.user.username|capfirst }}</h3>
      </div>
    </div>
    <div class="container mt-3">
      <p><i class="fa fa-briefcase mr-3 text-info"></i>{{ profile.bio }}</p>
      <p><i class="far fa-calendar-alt mr-3 text-info"></i>{{ profile.birth_date }}</p>
      <p><i class="fa fa-home mr-3 text-info"></i>{{ profile.location }}</p>
      <p><i class="fa fa-envelope mr-3 text-info"></i>{{ profile.user.email }}</p>
      <p><i class="fa fa-phone mr-3 text-info"></i>1224435534</p>
      <br>
    </div>
  </div>
  <br>
<!-- End Left Column -->
{% endfor %}
</div>
<div class="col-md-8 bg-white">
  <div class="row">
    <div class="col"><h2 class="text-secondary mb-4"><i class="fas fa-university mr-3 text-info"></i>Education</h2></div>
    <div class="col text-right"><a href="{% url 'profiles:update_profile' %}" class="btn btn-primary">Edit</a></div>
  </div>
  <div class="col-md-12">
    <h5 class="text-secondary mb-3"><b>London Business School</b></h5>
    <h6 class="text-info mb-3"><i class="fa fa-calendar-alt mr-3 text-info"></i>2013 - 2015</h6><p>Master Degree</p>
    <hr>
  </div>
  <div class="col-md-12">
    <h5 class="text-secondary mb-3"><b>London Business School</b></h5>
    <h6 class="text-info mb-3"><i class="fa fa-calendar-alt mr-3 text-info"></i>2013 - 2015</h6><p>Master Degree</p>
    <hr>
  </div>
  <div class="col-md-12">
    <h5 class="text-secondary mb-3"><b>London Business School</b></h5>
    <h6 class="text-info mb-3"><i class="fa fa-calendar-alt mr-3 text-info"></i>2013 - 2015</h6><p>Master Degree</p>
    <hr>
  </div>
  <div class="col-md-12">
    <h5 class="text-secondary mb-3"><b>London Business School</b></h5>
    <h6 class="text-info mb-3"><i class="fa fa-calendar-alt mr-3 text-info"></i>2013 - 2015</h6><p>Master Degree</p>
    <hr>
  </div>
</div>
</div>
{% endblock %}
