body{
  background-image: url(../img/naturalwhite.png);
}

@font-face {
    font-family: signature;
    src: url(../fonts/signature.ttf);
}

.logo {
  font-family: 'signature';
  font-size: 4rem !important;
  font-weight:bold;
}

.logo a {
  color: rgba(0,0,0,.9);
}

.logo a:hover,
.logo a:active {
  text-decoration: none;
}
