{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Boards{% endblock %}</title>
    {% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    {% endblock %}
    {% include 'base/css.html' %}
    <!-- to include custom_css specific to page -->
  </head>
  <body>
    {% block body %}
      <div class="container">
        {% include 'base/navbar.html' with brand_name='Django Boards' %}
        <ol class="breadcrumb my-4">
          {% block breadcrumb %}
          {% endblock %}
        </ol>
        {% block content %}
        {% endblock %}
      </div>
      {% include 'base/js.html' %}
      <!-- SimpleMDE Markdown Editor -->
      {% block javascript %}{% endblock %}
    {% endblock body %}
  </body>
</html>
