{% extends 'base.html' %}
{% load static %}
{% block title %}{{ block.super }}{% endblock %}

{% block customcss %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
{% endblock %}

{% block breadcrumb %}
{% url 'home' as home_url %}
<li class="breadcrumb-item {% if request.path == home_url %} active {% endif %}"><a href="{{ home_url }}">Boards</a></li>
{% endblock %}

{% block content %}
<div class="my-3">
  <table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Board</th>
      <th scope="col">Post</th>
      <th scope="col">Topic</th>
      <th scope="col">Last Post</th>
    </tr>
  </thead>
  <tbody>
    {% for board in boards %}
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td>
        <a href="{% url 'board_topics' board.pk %}">{{ board.name }}</a>
        <small class="text-muted d-block">{{ board.description }}</small>
      </td>
      <td class="align-middle">{{ board.get_posts_count }}</td>
      <td class="align-middle">{{ board.topics.count }}</td>
      <td class="align-middle">
        {% with post=board.get_last_post %}
        {% if post %}
        <small>
          <a href="{% url 'topic_posts' board.pk post.topic.pk %}">
            By {{ post.created_by.username }} at {{ post.created_at }}
          </a>
        </small>
        {% else %}
        <small class="text-muted">
          <em>No posts yet.</em>
        </small>
        {% endif %}
        {% endwith %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
  </table>
</div>
{% endblock %}
