{% extends 'accounts/base_accounts.html' %}
{% block title %}Sign up{% endblock %}
{% block content %}
  <div class="col-md-6 mx-auto">
    {% load crispy_forms_tags %}
    <h3>Sign up</h3>
    <form method="post">
      {% csrf_token %}
      {{ form|crispy }}
      <button type="submit" class="btn btn-primary btn-block">Create an account</button>
    </form>
    <div class="card-footer text-muted text-center">
      Already have an account? <a href="{% url 'login' %}">Login</a>
    </div>
  </div>
{% endblock %}
